<html>
  <head>
    <title>Dig a Well - About</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/public/well_1.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="22px" height="23px" src="/public/well_1.png" alt="Logo"> &nbsp; <font style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" size="5" color='#0d6bc3'><strong> Dig a Well </strong></font> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> << &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <hr>
    </br>

    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>


    <h2><font size="5" color='#0d6bc3'><strong> About </strong></font></h2>

    </br><font size="4" color='#0000'>

    Dig a well is a platform built to improve access to clean water in remote communities by highlighting places on Google Maps where new waterholes should be dug.

    </br></br>

    Globally 2.3 billion people lack access to safe, readily available water and 1.5 million livestock are lost per year to acute drought (in Kenya alone). Dig a well is built to highlight deficiencies in water access.

    </br></br>

    Person's living in affected communities submit a gps location of where a well needs to be dung, we verify the location. The verified location is then added to the platform's json database and plotted on google maps, where person's interested can help dig the well.

    </br></br>

    Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/digawell"><font size="4" color='#0d6bc3'><strong> https://github.com/VakinduPhilliam/digawell </strong></font></a>

    </br></br>

    <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Dig A Well

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

