<html>
  <head>
    <title>Dig a New Well</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/well_1.png" sizes="32x32">
</head>
<body data-spy="scroll" >
  <table width='100%' height="100%" border='0' cellpadding="5px">
    <tr> <td valign="center">

      <center> <h2><font size="5" color='#0d6bc3'><strong> Request to dig new Waterhole added ..! </strong></font></h2></center>

    </td></tr>
  </table>

</body>
</html>

